<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Product Tag</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item">
						Item
					</div>
					<div class="m-stack__item">
						<div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
							<div class="m-list-search">
                                <div class="m-list-search__results">
                                    <span class="m-list-search__result-category m-list-search__result-category--first">
                                        Products
                                    </span>
                                    <a href="#" class="m-list-search__result-item">
                                        <span class="m-list-search__result-item-icon"><i class="flaticon-interface-3 m--font-warning"></i></span>
                                        <span class="m-list-search__result-item-text">Adidas - Stan Smith</span>
                                    </a>
                                    <a href="#" class="m-list-search__result-item">
                                        <span class="m-list-search__result-item-icon"><i class="flaticon-share m--font-success"></i></span>
                                        <span class="m-list-search__result-item-text">H&M - Basic T-Shirt</span>
                                    </a>
                                    <a href="#" class="m-list-search__result-item">
                                        <span class="m-list-search__result-item-icon"><i class="flaticon-paper-plane m--font-info"></i></span>
                                        <span class="m-list-search__result-item-text">Zara - Slim Jeans</span>
                                    </a>
                                </div>
                            </div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>