<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">

		<!--begin::Header-->
		

		<!--end::Header-->

		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

			<!--begin::Aside Menu-->
		
			<%= render 'aside_menu' %>

			<!--end::Aside Menu-->

			<div class="m-grid__item m-grid__item--fluid m-wrapper">

				<!-- BEGIN: Subheader -->
				<div class="m-subheader ">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 class="m-subheader__title ">Profile</h3>
						</div>
					</div>
				</div>

				<!-- END: Subheader -->

				<div class="m-content">
					<div class="row">
						<div class="col-lg-8 offset-md-2">
							<div class="m-portlet m-portlet--rounded m-portlet--bordered-semi">
								<div class="m-portlet__body">
									<div class="m-card-profile">
										<div class="m-card-profile__pic">
											<div class="m-card-profile__pic-wrapper">
												<img src="assets/app/media/img/users/user4.jpg" alt="">
											</div>
										</div>
										<div class="m-card-profile__details">
											<div class="m-card-profile__name" style="margin-bottom: 5vh">
												Mark Andre
											</div>
											<div class="m-stack m-stack--ver m-stack--general">
												<div class="m-stack__item m-stack__item--right">
													23 years
												</div>
												<div class="m-stack__item">
													Paris
												</div>
												<div class="m-stack__item m-stack__item--left">
													Student
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="m-portlet__head">
									<ul class="nav nav-tabs nav-fill m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary" role="tablist">
										<li class="nav-item m-tabs__item">
											<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
												<i class="flaticon-share m--hide"></i>
												Lookboard
											</a>
										</li>
										<li class="nav-item m-tabs__item">
											<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
												Outfits
											</a>
										</li>
									</ul>
									
								</div>	
							</div>
							<div class="tab-content">
								<div class="tab-pane active" id="m_user_profile_tab_1">
									<div class="row">
									  <div class="col-xl-6">
									    <!--begin:: Widgets/Tasks -->
										<div class="m-portlet m-portlet--half-height m-portlet--rounded" style="background-image:url(https://scontent-cdt1-1.cdninstagram.com/vp/355ebbe636480564dab65e6ad4bbda99/5C8CEF50/t51.2885-15/sh0.08/e35/p640x640/40880220_234451427249531_6256305796874547755_n.jpg); background-size:cover" data-toggle="modal" data-target="#m_modal_1_2">	
										</div>
									<!--end:: Widgets/Tasks -->
									  </div> 
									  <div class="col-xl-6">
									    <!--begin:: Widgets/Support Tickets -->
									<div class="m-portlet m-portlet--full-height ">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<h3 class="m-portlet__head-text">
														Support Tickets
													</h3>
												</div>
											</div>
											<div class="m-portlet__head-tools">
												<ul class="m-portlet__nav">
													<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
														<a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
														<i class="la la-ellipsis-h m--font-brand"></i>
														</a>
														<div class="m-dropdown__wrapper">
															<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
															<div class="m-dropdown__inner">
																<div class="m-dropdown__body">
																	<div class="m-dropdown__content">
																		<ul class="m-nav">
																			<li class="m-nav__item">
																				<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-share"></i>
																				<span class="m-nav__link-text">Activity</span>
																				</a>
																			</li>
																			<li class="m-nav__item">
																				<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-chat-1"></i>
																				<span class="m-nav__link-text">Messages</span>
																				</a>
																			</li>
																			<li class="m-nav__item">
																				<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-info"></i>
																				<span class="m-nav__link-text">FAQ</span>
																				</a>
																			</li>
																			<li class="m-nav__item">
																				<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																				<span class="m-nav__link-text">Support</span>
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="m-portlet__body">
											<div class="m-widget3">
												<div class="m-widget3__item">
													<div class="m-widget3__header">
														<div class="m-widget3__user-img">							 
															<img class="m-widget3__img" src="./assets/app/media/img/users/user1.jpg" alt="">  
														</div>
														<div class="m-widget3__info">
															<span class="m-widget3__username">
															Melania Trump   
															</span><br> 
															<span class="m-widget3__time">
															2 day ago
															</span>		 
														</div>
														<span class="m-widget3__status m--font-info">
														Pending
														</span>	
													</div>
													<div class="m-widget3__body">
														<p class="m-widget3__text"> 
															Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
														</p>
													</div>
												</div>
												<div class="m-widget3__item">
													<div class="m-widget3__header">
														<div class="m-widget3__user-img">							 
															<img class="m-widget3__img" src="./assets/app/media/img/users/user4.jpg" alt="">  
														</div>
														<div class="m-widget3__info">
															<span class="m-widget3__username">
															Lebron King James   
															</span><br> 
															<span class="m-widget3__time">
															1 day ago
															</span>		 
														</div>
														<span class="m-widget3__status m--font-brand">
														Open
														</span>	
													</div>
													<div class="m-widget3__body">
														<p class="m-widget3__text"> 
															Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.Ut wisi enim ad minim veniam,quis nostrud exerci tation ullamcorper.					
														</p>
													</div>
												</div>
												<div class="m-widget3__item">
													<div class="m-widget3__header">
														<div class="m-widget3__user-img">							 
															<img class="m-widget3__img" src="./assets/app/media/img/users/user5.jpg" alt="">    
														</div>
														<div class="m-widget3__info">
															<span class="m-widget3__username">
															Deb Gibson  
															</span><br> 
															<span class="m-widget3__time">
															3 weeks ago
															</span>		 
														</div>
														<span class="m-widget3__status m--font-success">
														Closed
														</span>	
													</div>
													<div class="m-widget3__body">
														<p class="m-widget3__text"> 
															Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--end:: Widgets/Support Tickets -->  </div>
									</div>
								</div>
								<div class="tab-pane " id="m_user_profile_tab_2">
									Test
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- end:: Body -->

		<!--begin::Modal-->
		
		<%= render 'image_product_tag_modal' %>

		<!--end::Modal-->

		<!-- begin::Footer -->

		<%= render 'footer' %>

		<!-- end::Footer -->
	</div>

	<!-- end:: Page -->

	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>

	<!-- end::Scroll Top -->
</body>

<!-- end::Body -->