<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">

		<!--begin::Header-->

		<%= render 'header' %>
		
		<!--end::Header-->

		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

			<!--begin::Aside Menu-->
		
			<%= render 'aside_menu' %>

			<!--end::Aside Menu-->

			<div class="m-grid__item m-grid__item--fluid m-wrapper">

				<!-- BEGIN: Subheader -->
				<div class="m-subheader ">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 class="m-subheader__title ">Account</h3>
						</div>
					</div>
				</div>

				<!-- END: Subheader -->

				<div class="m-content">
					<div class="row">
						<div class="col-lg-8 offset-md-2">
							<div class="m-portlet">
					            <ul class="nav nav-tabs nav-fill m-tabs-line" role="tablist">
				                    <li class="nav-item m-tabs__item">
				                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#account_tab_1">Edit Profile</a>
				                    </li>
				                    <li class="nav-item m-tabs__item">
				                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#account_tab_2">Password</a>
				                    </li>
				                    <li class="nav-item m-tabs__item">
				                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#account_tab_3">Language</a>
				                    </li>
				                    <li class="nav-item m-tabs__item">
				                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#account_tab_4">Linked accounts</a>
				                    </li>
				                </ul> 
				                <div class="tab-content">
				                    <div class="tab-pane active" id="account_tab_1" role="tabpanel">
				                        <form class="m-form m-form--fit">
											<div class="m-portlet__body">	
												<div class="m-form__section m-form__section--first">	
													<div class="m-form__heading">
														<h3 class="m-form__heading-title">Personal Details</h3>
													</div>
													<div class="form-group m-form__group">
														<label for="example_input_full_name">Profile Picture:</label>
														<div class="m-card-profile">
															<div class="m-card-profile__pic">
																<div class="m-card-profile__pic-wrapper">
																	<img src="assets/app/media/img/users/user4.jpg" alt="">
																</div>
															</div>
															<div class="m-card-profile__details">
																<button type="button" class="btn btn-secondary">
																	Change Photo
																</button>
															</div>
														</div>
													</div>
													<div class="form-group m-form__group">
														<label for="first_name">First Name:</label>
														<input type="text" class="form-control m-input" placeholder="Enter first name">
													</div>
													<div class="form-group m-form__group">
														<label for="last_name">Last Name:</label>
														<input type="text" class="form-control m-input" placeholder="Enter last name">
													</div>
													<div class="form-group m-form__group">
														<label for="occupation">Occupation:</label>
														<input type="text" class="form-control m-input" placeholder="Enter occupation">
														<span class="m-form__help">Job or studies</span>
													</div>
													<div class="form-group m-form__group">
														<label>Email address:</label>
														<input type="email" class="form-control m-input" placeholder="Enter email">
														<span class="m-form__help">We'll never share your email with anyone else</span>
													</div>	
													<div class="form-group m-form__group">
														<label>Phone:</label>
														<div class="m-input-icon m-input-icon--left">
															<input type="text" class="form-control m-input" placeholder="Phone number">
															<span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-bell"></i></span></span>
														</div>
														<span class="m-form__help">We'll never share your phone number with anyone else</span>
													</div>						
									            </div>

									            <div class="m-form__seperator m-form__seperator--dashed"></div>

									            <div class="m-form__section m-form__section--last">
													<div class="m-form__heading">
														<h3 class="m-form__heading-title">Address</h3>
													</div>
													<div class="form-group m-form__group m-form__group--last">
														<label for="example_input_full_name">Address:</label>
														<input type="text" class="form-control m-input" placeholder="30 rue Montorgeuil">
													</div>
													<div class="form-group m-form__group m-form__group--last">
														<label for="example_input_full_name">City:</label>
														<input type="text" class="form-control m-input" placeholder="Paris">
													</div>
													<div class="form-group m-form__group m-form__group--last">
														<label for="example_input_full_name">Postcode:</label>
														<input type="text" class="form-control m-input" placeholder="75002">
													</div>
												</div>
								            </div>
								            <div class="m-portlet__foot m-portlet__foot--fit">
												<div class="m-form__actions m-form__actions--right">
													<button type="reset" class="btn btn-primary">Submit</button>
													<span class="m--margin-left-10">or <a href="#" class="m-link m--font-bold">Cancel</a></span>
												</div>
											</div>
										</form>
				                    </div>
				                    <div class="tab-pane" id="account_tab_2" role="tabpanel">
				                        <form class="m-form m-form--fit">
											<div class="m-portlet__body">	
												<div class="m-form__section m-form__section--first">
													<div class="m-form__heading">
														<h3 class="m-form__heading-title">Password</h3>
													</div>
													<div class="form-group m-form__group">
														<label for="first_name">Current password:</label>
														<input type="text" class="form-control m-input" placeholder="Enter password">
													</div>
													<div class="form-group m-form__group">
														<label for="last_name">New password:</label>
														<input type="text" class="form-control m-input" placeholder="Enter password">
													</div>
													<div class="form-group m-form__group">
														<label for="occupation">New password again:</label>
														<input type="text" class="form-control m-input" placeholder="Enter password">
													</div>	
									            </div>
								            </div>
								            <div class="m-portlet__foot m-portlet__foot--fit">
												<div class="m-form__actions m-form__actions--right">
													<button type="reset" class="btn btn-primary">Submit</button>
													<span class="m--margin-left-10">or <a href="#" class="m-link m--font-bold">Cancel</a></span>
												</div>
											</div>
										</form>
				                    </div>
				                    <div class="tab-pane" id="account_tab_3" role="tabpanel">
				                        <form class="m-form m-form--fit">
											<div class="m-portlet__body">	
												<div class="m-form__section m-form__section--first">
													<div class="m-form__heading">
														<h3 class="m-form__heading-title">Language</h3>
													</div>
													<div class="form-group m-form__group">
														<label for="first_name">Language:</label>
														<select class="form-control m-input" id="exampleSelect1">
															<option>English</option>
															<option>French</option>
															<option>German</option>
															<option>Spanish</option>
															<option>Italian</option>
														</select>
													</div>
									            </div>
								            </div>
								            <div class="m-portlet__foot m-portlet__foot--fit">
												<div class="m-form__actions m-form__actions--right">
													<button type="reset" class="btn btn-primary">Submit</button>
													<span class="m--margin-left-10">or <a href="#" class="m-link m--font-bold">Cancel</a></span>
												</div>
											</div>
										</form>
				                    </div>
				                    <div class="tab-pane" id="account_tab_4" role="tabpanel">
				                        <div class="m-portlet__body">	
											<div class="m-form__section m-form__section--first">
												<div class="m-form__heading">
													<h3 class="m-form__heading-title">Social Logins</h3>
												</div>
												<div class="m-stack m-stack--ver m-stack--general m-stack--demo">
													<div class="m-stack__item">Facebook</div>
													<div class="m-stack__item">
														<button type="button" class="btn btn-secondary m-btn m-btn--custom">Default</button>
													</div>
												</div>
								            </div>
							            </div>
				                    </div>
				                </div>
					        </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- end:: Body -->

		<!--begin::Modal-->
		
		<%= render 'image_product_tag_modal' %>

		<!--end::Modal-->

		<!-- begin::Footer -->

		<%= render 'footer' %>

		<!-- end::Footer -->
	</div>

	<!-- end:: Page -->

	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>

	<!-- end::Scroll Top -->
</body>

<!-- end::Body -->